<p>Do you want to delete <%= @order.name %>?</p>

<form method="post" action="/orders/<%=@order.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
<form>