<h1>Edit Order</h1>
<form method="post" action="/orders/<%= @order.id %>">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="text" name="name" placeholder="New Name"><br><br>
<input type="number" name="quantity" placeholder="Quantity"><br><br>

<input type="text" name="orders[name]" placeholder="Add Your Orders"><br><br>

<input class="btn btn-primary" type="submit" name="edit" value="Edit">
</form>