<h1>New Order at Bingo</h1>
<!-- <h1>New Order at Bingo <%= @food.name %></h1>--!>

<form method="post" action="/orders/new/<%= @food.id %>">
<input type="text" name="name" placeholder="Order Name">
<input type="number" min='0' name="quantity" placeholder="Quantity"><br><br>
<input class="btn btn-primary" type="submit" name="create" value="Create">
</form>