<h1>New Food</h1>

<form method="post" action="/foods/new">

<input type="text" name="name" placeholder="Food Name"><br><br>
<input type="number" name="quantity" placeholder="Quantity"><br><br>

<input type="text" name="orders[name]" placeholder="Add Your First Orders"><br><br>
<input class="btn btn-primary" type="submit" name="create" value="Create">
</form>