<div class="container">
  
 <h2>Contact Us</h2>
 <p> Leave us a message:</p>
  

    <form action="/contact" method="POST">

    <label for="POST-fullname">Fullname</label>
    <input id="POST-fullname" type="text" name="fullname">
    <br/>
    <label for="POST-phone">Phone Number:</label>
    <input id="POST-phone" type="text" name="phone">
    <br/>
    <label for="POST-email">E-mail:</label>
    <input id="POST-email" type="text" name="email">
    <br/>
    <label for="POST-message">Message:</label>
    <textarea id="post-message" name="message"></textarea>

    <!--<input id="POST-message" type="text" name="message">--!>
    <br/>
    <button type="submit" value="Submit">Submit!</button>
    </form>
</div>